/* Diseño del LOGIN.PHP*/
#body-login{
    background: radial-gradient(rgb(255, 255, 255), rgb(105, 167, 255));
}

#container-login{
    max-width: 400px;
    margin: auto;
    margin-top: 60px;
    background: linear-gradient( rgb(158, 208, 255), rgb(235, 245, 252));
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#create_account, #forget_pass{
    text-decoration: none;
}

#create_account:hover{
    font-size: 18px;
    color: green;
    text-decoration: underline;
}

#forget_pass:hover{
    font-size: 17px;
    color: red;
    text-decoration: underline;
}

/* Diseño del account.html*/
#body-account{
    background: linear-gradient(to right, rgb(15, 90, 170), rgb(75, 150, 240));
}

#container-image{
    background-image: url(/Project_Samava/image/clouda.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img{
    transition: 1.5s;
    object-fit: cover;
}

img:hover{
    transform: scale(1.1);
}

/* Diseño del MAIN.HTML*/
#body-main{
    background-image: radial-gradient(rgb(248, 248, 248), rgb(150, 150, 150));
}

#row-card{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(203, 203, 203));
}

#card-body{
    background-image: linear-gradient(to bottom, rgb(198, 198, 198), rgb(170, 170, 170));
}

#img-card{
    height: 220px;
}

#btn-sesion{
    transition: 1.0s;
    object-fit: cover;
}

#btn-sesion:hover{
    transform: scale(1.1);
}

/* Diseño del INDEX.HTML*/
#container_nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main > .container{
    padding: 30px;
}

#img_product{
    width: 70%;
    height: 30%;
}

#img_datails{
    width: 30%;
    height: 30%;
}

body{
    background: linear-gradient(to left, rgb(220, 233, 255), rgb(117, 175, 255));
}

#card{
    background: linear-gradient( rgb(158, 208, 255), rgb(219, 240, 255));
}

#card-details{
    background: rgba(238, 255, 255, 0.942);
}

#data-dominio{
    background: linear-gradient( rgb(181, 219, 255), rgb(207, 235, 255));
}

#data-general{
    background: linear-gradient( rgb(181, 219, 255), rgb(207, 235, 255));
}

#data-pay{
    background: linear-gradient( rgb(181, 219, 255), rgb(207, 235, 255));
    display: none;
}

#cards{ 
    width: 36px;
    height: 30px;
}


/* PDF */
#transferencia{
    background: rgba(246, 252, 252, 0.748);
}

/* INTERFAZ DEL USUARIO */

li:hover{
    background: gray;
}

#container-view{
    background: linear-gradient(to top, rgb(177, 210, 255), rgb(219, 235, 255));
}

#body-user{
    background: linear-gradient(rgb(131, 203, 255), rgb(188, 230, 254));
}